.hotel-offers {
  position: relative;

  &__wrap {
    padding-top: 32px;
    height: 290px;
    background: white;
    text-align: center;

    @media #{$mq-mobile} {
    	padding-top: 4px;
    	height: 170px;
    }
  }

  &__title {
    margin-bottom: 30px;
    color: #000;
    text-transform: uppercase;
    font-size: 30px;
    font-family: $font-bold;
    line-height: 26px;

    @media #{$mq-mobile} {
    	margin-bottom: 18px;
    	font-size: 21px;
    }
  }

  &__text {
    margin: 0 auto;
    width: 440px;
    color: $black;
    text-transform: uppercase;
    font-size: 14px;
    font-family: $font-regular;
    line-height: 24px;

    @media #{$mq-mobile} {
    	width: 80%;
    }
  }

  &__hotel-search {
    position: absolute;
    top: 205px;
    left: 50%;
    z-index: 100;
    margin-left: -285px;

    @media #{$mq-mobile} {
    	position: static;
    	margin-left: 0;
    }
  }
}

.hotel-search {
  width: 570px;
  font-family: $font-bold;

  @media #{$mq-mobile} {
  	width: auto;
  }

  & input {
    padding-right: 36px;
    padding-left: 12px;
    outline: none;
    border: none;
    background: #f2f2f2;
    color: #000;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 26px;

    &:hover {
      background: #ebebeb;
    }

    &:focus {
      padding-left: 10px;
      border: 2px solid #e5e5e5;
      background: white;
    }
  }

  & p {
    margin: 0;
    margin-top: 4px;
    color: #000;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 26px;
  }

  & button {
    outline: none;
    border: none;
    cursor: pointer;
  }

  &__header {
    padding-top: 6px;
    height: 85px;
    background: $brown;
    color: white;
    text-align: center;
    cursor: pointer;

    &:hover {
      background: $brown-hover;
    }

    &:active {
      background: $brown-down;
    }
  }

  &__title {
    text-transform: uppercase;
    font-size: 21px;
    line-height: 26px;

    @media #{$mq-mobile} {
    	font-size: 18px;
    }
  }

  &__header:active &__title {
    opacity: .3;
  }

  &__body {
    padding: 55px;
    height: 395px;
    background: white;
    box-shadow: -5px 5px 20px rgba(0, 0, 0, .1),
    5px 5px 20px rgba(0, 0, 0, .1);

    @media #{$mq-mobile} {
    	position: relative;
    	padding: 20px 6%;
    	height: 430px;

    	&:after {
	  		position: absolute;
	  		display: block;
	  		content: "";
	  		bottom: 0;
	  		left: 0;
	  		right: 0;
	  		height: 15px;
	  		background: transparent;
	  		box-shadow: 0 10px 20px rgba(0, 0, 0, .15);
	  		z-index: 100;
	  	}
    }

    &--js-closed {
    	display: none;
    }
  }

  &__coming-date,
  &__departure-date {
    position: relative;
    display: flex;
    margin-bottom: 30px;
    height: 38px;

    justify-content: space-between;

    @media #{$mq-mobile} {
    	flex-direction: column;
    	height: 62px;
    }

    & p {
      flex: 0 1 24.5%;

      @media #{$mq-mobile} {
      	padding-left: 5%;
	    	padding-bottom: 7px;
	    }
    }

    & input {
      flex: 0 1 75.5%;

      @media #{$mq-mobile} {
	    	padding-top: 6px;
	    	padding-bottom: 5px;
	    }
    }
  }

  &__calendar {
    position: absolute;
    top: 7px;
    right: 9px;
    color: lighten(#000, 70%);

    @media #{$mq-mobile} {
    	top: 43px;
    }

    &:before {
      content: "\e900";
      font-size: 22px;
      font-family: $icon;
    }

    &:hover {
      color: #000;
    }

    &:active {
      color: $blue;
    }
  }

  &__wrap {
    display: flex;
    margin-bottom: 55px;

    justify-content: space-between;

    @media #{$mq-mobile} {
    	margin-bottom: 45px;
    }

    @media (min-width: 500px) and (max-width: 767px) {
    	justify-content: space-around;
    }
  }

  &__adult-count,
  &__children-count {
    display: flex;
    flex: 0 1 49%;

    justify-content: space-between;

    & p {
      flex: 0 1 30%;

      @media #{$mq-mobile} {
	    	padding-left: 14%;
	    	padding-bottom: 7px;
	    }
    }

    @media #{$mq-mobile} {
    	flex-direction: column;
    	flex: 0 1 auto;
    }
  }

  &__children-count {
    flex: 0 1 39%;

    @media #{$mq-mobile} {
    	flex: 0 1 auto;
    }
  }

  &__count-wrap {
    flex: 0 1 auto;
    font-size: 0;

    & input {
      display: inline-block;
      padding-right: 5px;
      padding-left: 5px;
      width: 38px;
      height: 38px;
      vertical-align: top;
      text-align: center;

      &:focus {
        padding-left: 5px;
      }
    }
  }

  &__decrease,
  &__increase {
    margin: 0;
    width: 38px;
    height: 38px;
    background: #f2f2f2;
    color: lighten(#000, 70%);
    vertical-align: top;

    &:hover {
      color: #000;
    }

    &:active {
      color: $blue;
    }
  }

  &__decrease:before,
  &__increase:before {
    display: inline-block;
    font-size: 9px;
    font-family: $icon;
    line-height: 38px;
  }

  &__decrease:before {
    content: "\ea0b";
  }

  &__increase:before {
    content: "\ea0a";
  }

  &__submit {
    padding-top: 18px;
    padding-bottom: 17px;
    width: 100%;
    background: $blue;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 21px;
    line-height: 26px;

    &:hover {
      background: $blue-hover;
    }

    &:active {
      background: $blue-down;
      color: mix(white, $blue-down, 30%);
    }
  }
}

.goggle-map {
  position: relative;
  height: 470px;

  @media #{$mq-mobile} {
  	height: 360px;
  }

  & iframe {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
}
