// fonts
$font-regular: "PT-Sans-Regular", "Verdana", sans-serif;
$font-bold: "PT-Sans-Bold", "Verdana", sans-serif;
$icon: "icomoon";

// colors
$blue: #81b3d2;
$blue-hover: #669ec0;
$blue-down: #5496bd;
$brown: #766357;
$brown-hover: #604e43;
$brown-down: #503e33;
$black: #333;

// @media
$mq-retina2x: "(min-device-pixel-ratio: 2)";